// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
}

// Спойлер
.spollers__item {
	border: rem(1) solid $Gray;
	border-radius: rem(5);
}

// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	font-weight: 600;
	text-align: left;
	padding: rem(10) rem(15);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: rem(20);

	._spoller-init & {
		cursor: pointer;

		&::after {
			content: "\e912";
			@extend %ic;
			font-size: rem(12);
			transform: rotate(45deg);
			color: $Gray;
			transition: $transition ease transform 0s;
		}

		&._spoller-active {
			&::after {
				transform: rotate(90deg);
			}
		}
	}
}

// Контент спойлера
.spollers__body {
	padding: rem(10) rem(20) rem(20);
	font-weight: 400;
}
