.checkbox {
	position: relative;

	&:not(:last-child) {
		margin-bottom: em(5);
	}

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:focus + .checkbox__label:before {
			box-shadow: 0 0 5px $PBlue;
		}
		&:checked + .checkbox__label:before {
			color: $PBlue;
			border-color: $PBlue;
		}
	}

	// .checkbox__label
	&__label {
		font-weight: 600;
		color: $Black2;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: rem(16);

		&:before {
			content: "\e914";
			@extend %ic;
			font-size: rem(16);
			color: $White;
			align-self: center;
			flex: 0 0 rem(22);
			width: rem(22);
			height: rem(22);
			border: 1px solid $DGray;
			border-radius: rem(4);
			display: flex;
			align-items: center;
			justify-content: center;
			transition: $transition ease color 0s;
		}
	}

	// .checkbox__text
	&__text {
		line-height: math.div(22, 18);
	}
}
