//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	border-radius: rem(30);
	display: block;
	@include adaptiveValue("padding-top", 16, 12);
	@include adaptiveValue("padding-bottom", 16, 12);
	padding-left: rem(24);
	padding-right: rem(24);
	border: 1px solid $Gray;
	outline: 0;
	font-weight: 600;
	@include adaptiveValue("font-size", 18, 14);
	line-height: math.div(22, 18);
	color: $Black2;
	transition: $transition ease border-color 0s;

	&::placeholder {
		transition: $transition ease opacity 0s;
	}

	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}

	&:hover,
	&:focus {
		border-color: $PBlue;
	}
}

textarea.input {
	resize: none;
}
