// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;

	// .select__body
	&__body {
		position: relative;
	}

	// .select__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(22, 18);
		color: $Black2;
		text-align: left;
		border: 1px solid $Gray;
		background-color: $White;
		cursor: pointer;
		width: 100%;
		border-radius: rem(30);
		transition: $transition ease all 0s;
	}

	// .select__value
	&__value {
		display: flex;
		align-items: center;
		@include adaptiveValue("padding-top", 16, 12);
		@include adaptiveValue("padding-bottom", 16, 12);
		padding-left: rem(24);
		padding-right: rem(16);
		gap: rem(10);

		> * {
			flex: 1 1 auto;
		}

		&:after {
			content: "\e905";
			@extend %ic;
			align-self: stretch;
			font-size: rem(22);
			color: $Black2;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease 0s;

			._select-open & {
				transform: rotate(-180deg);
			}
		}

		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}

	// .select__text
	&__text {
		flex: 1 1 auto;
	}

	// .select__input
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}

	// .select__options
	&__options {
		color: #000;
		position: absolute;
		@include adaptiveValue("top", 54, 47);
		border-radius: 0 0 rem(30) rem(30);
		min-width: 100%;
		left: 0;
		background-color: $White;
		border-top: 0;
		border: 1px solid $Gray;
		border-top: 0;
		padding: rem(10) 0 rem(25);
	}

	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;

		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}

	// .select__option
	&__option {
		width: 100%;
		display: block;
		text-align: left;
		cursor: pointer;
		padding: rem(7) rem(24);
		color: inherit;

		&._select-selected {
			background-color: #eee;
		}

		@media (any-hover: hover) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}

	&__asset {
	}

	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;

		.select__title {
			border-radius: rem(30) rem(30) 0 0;
			border-bottom: 0;
		}
	}

	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
