// Заголовки, общие БЄМ блоки и проче...
h {
    &1 {
        font-weight: 500;
        @include adaptiveValue("font-size", 38, 24);
        line-height: math.div(46, 38);
        color: $Black2;
    }
    &2 {
        font-weight: 500;
        @include adaptiveValue("font-size", 38, 24);
        line-height: math.div(46, 38);
        color: $Black2;
    }
    &3 {
        font-weight: 600;
        @include adaptiveValue("font-size", 20, 16);
        line-height: math.div(24, 20);
        color: $Black2;
    }
}

[data-popup] {
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: rem(-10) rem(-6);

    @media (min-width: $tablet) {
        margin: rem(-10) rem(-12);
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

._content {
    @include adaptiveValue("font-size", 18, 14);
    line-height: math.div(29, 18);

    p {
        margin: rem(16) 0;
    }

    ol,
    ul {
        display: grid;
        gap: rem(16);
        margin: rem(16) 0;
    }

    ol {
        counter-reset: item;

        li {
            position: relative;
            @include adaptiveValue("padding-left", 40, 24);
            list-style-type: none;

            &::before {
                content: counter(item) ".";
                counter-increment: item;
                position: absolute;
                left: 0;
            }

            & > ol {
                counter-reset: subitem;

                li {
                    &::before {
                        content: counter(item) "." counters(subitem, ".") " ";
                        counter-increment: subitem;
                    }
                }
            }
        }
    }

    ul {
        padding-left: rem(28);

        li {
            position: relative;
            list-style: disc;
        }
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
}

.logo {
    a.logo__link {
        display: block;

        @media (any-hover: hover) {
            transition: $transition ease opacity 0s;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

section {
    @include adaptiveValue("padding-top", 54, 48, 1440, 992, 1);

    &:not(:first-child) {
        padding-top: rem(30);
    }
    &:last-child {
        @include adaptiveValue("margin-bottom", 166, 80, 1440, 992, 1);
    }
}

// swiper
.swiper {
    // .swiper__arrows
    &__arrows {
        display: flex;
        align-items: center;
        // border: 1px solid $Gray;
    }

    // .swiper__button
    &__button {
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue("padding", 17, 14);
        cursor: pointer;
        color: $Black2;
        border: 1px solid $Gray;
        transition: $transition ease color, $transition border-color 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $PBlue;
                border-color: $PBlue;
            }
        }
    }

    // .swiper__button-prev
    &__button-prev {
        border-radius: 0 rem(4) rem(4) 0;
        transform: rotate(180deg);
        border-left-color: transparent;
    }

    // .swiper__button-next
    &__button-next {
        border-radius: 0 rem(4) rem(4) 0;
    }

    // .swiper__pagination
    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

.swiper-pagination {
    text-align: center;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    &-bullet {
        display: inline-block;
        width: rem(12);
        height: rem(12);
        padding: rem(5);
        position: relative;
        box-sizing: content-box;
        transition: $transition ease all 0s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.6;
            }
        }

        &::before {
            content: "";
            display: block;
            border-radius: 50%;
            background-color: $Gray;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(12);
            height: rem(12);
            border: 2px solid transparent;
            transition: $transition ease all 0s;
        }

        &:only-child {
            display: none !important;
        }

        &-active {
        }
    }

    button.swiper-pagination-bullet {
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
    }

    &.swiper-pagination-hidden {
        opacity: 0;
    }

    &-bullets-dynamic {
        overflow: hidden;
        font-size: 0;

        .swiper-pagination-bullet {
            transform: scale(0.33);
            position: relative;
        }

        .swiper-pagination-bullet-active {
            transform: scale(1);

            &::before {
                border-color: $Gray;
                background-color: $White;
            }
        }

        .swiper-pagination-bullet-active-main {
            transform: scale(1);
        }

        .swiper-pagination-bullet-active-prev {
            transform: scale(0.66);
        }

        .swiper-pagination-bullet-active-prev-prev {
            transform: scale(0.33);
        }

        .swiper-pagination-bullet-active-next {
            transform: scale(0.66);
        }

        .swiper-pagination-bullet-active-next-next {
            transform: scale(0.33);
        }
    }

    &-clickable {
        .swiper-pagination-bullet {
            cursor: pointer;
        }
    }
}
