//footer ====================================================================================================
.footer {
    @include adaptiveValue("padding-top", 80, 40, 1440, 768, 1);
    @include adaptiveValue("padding-bottom", 120, 40, 1440, 768, 1);
    background-color: $LBlue;

    // .footer__container
    &__container {
        display: grid;
        column-gap: rem(24);

        @media (min-width: $mobileM) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: $mobile) {
            grid-template-columns: 1fr percent(481, 1159) 1fr;
        }
    }

    // .footer__left
    &__left {
    }

    // .footer__logo
    &__logo {
        @include adaptiveValue("max-width", 159, 127);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 68, 36);
        }

        @media (max-width: $mobileM) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    // .footer__social
    &__social {
        @media (max-width: $mobileM) {
            justify-content: center;
        }
    }

    // .footer__center
    &__center {
        @media (max-width: $mobile) {
            display: none;
        }
    }

    // .footer__menu
    &__menu {
        @media (min-width: $mobile) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            column-gap: rem(16);

            .menu {
                // .menu__item
                &__item {
                }

                // .menu__label
                &__label {
                    font-weight: 700;
                    @include adaptiveValue("font-size", 14, 12, 1440, 768, 1);
                    line-height: math.div(17, 14);
                    letter-spacing: rem(0.7);
                    color: $DGray;
                    @include adaptiveValue("margin-bottom", 40, 24, 1440, 768, 1);
                }

                // .menu__list
                &__list {
                    display: grid;
                    @include adaptiveValue("row-gap", 24, 16, 1440, 768, 1);

                    a {
                        @include adaptiveValue("font-size", 16, 14, 1440, 768, 1);
                        line-height: math.div(19, 16);
                        color: $Black2;

                        @media (any-hover: hover) {
                            transition: $transition ease opacity 0s;

                            &:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
    }

    // .footer__right
    &__right {
        @media (min-width: $mobileM) {
            text-align: right;
        }
        @media (max-width: $mobileM) {
            display: none;
        }
    }

    // .footer__contacts
    &__contacts {
        display: grid;
        @include adaptiveValue("row-gap", 24, 16, 1440, 768, 1);

        @media (min-width: $mobileM) {
            justify-content: flex-end;
        }

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 24, 1440, 768, 1);
        }
    }

    // .footer__contact
    &__contact {
        a {
            display: flex;
            align-items: center;
            column-gap: rem(8);
            @include adaptiveValue("font-size", 16, 14, 1440, 768, 1);
            line-height: math.div(20, 16);
            letter-spacing: rem(1.6);
            white-space: nowrap;
            transition: $transition ease opacity 0s;

            @media (min-width: $mobileM) {
                justify-content: flex-end;
            }

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.6;
                }
            }

            &::before {
                font-size: rem(14);
                color: $Black2;
            }
        }
    }

    // .footer__btn
    &__btn {
        .btn {
            font-size: rem(14);
            line-height: math.div(17, 14);
            letter-spacing: rem(0.7);
            @include adaptiveValue("padding-top", 19, 12, 1440, 768, 1);
            @include adaptiveValue("padding-bottom", 19, 12, 1440, 768, 1);
            @include adaptiveValue("padding-left", 24, 16, 1440, 768, 1);
            @include adaptiveValue("padding-right", 24, 16, 1440, 768, 1);
        }
    }
}

.social {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 36, 24);

    // .social__item
    &__item {
        @include adaptiveValue("font-size", 20, 18);
        color: #303132;

        a {
            display: block;
            padding: rem(5);
            margin: rem(-5);
            transition: $transition ease all 0s;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.6;
                    transform: translateY(rem(3));
                }
            }
        }
    }
}
